@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight:500;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/Noto/NotoSans-Thin.ttf') format('truetype');
  font-display: swap;
  font-weight: 100;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/Noto/NotoSans-ExtraLight.ttf') format('truetype');
  font-display: swap;
  font-weight: 200;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/Noto/NotoSans-Light.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/Noto/NotoSans-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/Noto/NotoSans-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/Noto/NotoSans-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/Noto/NotoSans-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/Noto/NotoSans-ExtraBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 800;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/Noto/NotoSans-Black.ttf') format('truetype');
  font-display: swap;
  font-weight: 900;
}