.h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  font-family: $lora;
}
.h1{
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  font-family: $lora;
}
.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: $noto-sans;
}

.cat-name {
  font-weight: 400;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  font-family: $noto-sans;
  text-transform: uppercase;
}

.latest__date-body {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  font-family: $noto-sans;
}

.h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-family: $lora;
}

.h3 {
  font-size: 24px;
  line-height: 32px;
  font-family: $lora;
  font-weight: 500;
}
.h6{
  font-family: $noto-sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}