//colors

$c-light-bg: #F1F1F1;
$c-white-bg: #FFFFFF;
$c-main-shuttle: #5f6778;
$c-main-grey: #717171;
$c-dark-bg: #000000;
$c-grey-bg: #343434;
$c-main-black: #212121;


//fonts

$noto-sans: 'NotoSans', Arial, Helvetica, sans-serif;
$open-sans: 'OpenSans', Arial, Helvetica, sans-serif;
$lora: 'Lora', Arial, Helvetica, sans-serif;

$container-width: 1124px;
$container-gutters: 20px;
$section-gutters-y: 24px;