.extra{
  padding: $section-gutters-y;

  &__link{
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
  }
  .cat-name{
    position: absolute;
    text-align: center;
    bottom: 200px;
    left: 0;
    right: 0;
    z-index: 3;
    font-weight: 700;
  }
  &__title{
    position: absolute;
    text-align: center;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    bottom: 150px;
    z-index: 3;
    font-weight: 700;
  }
  &__link:after{
    content: "";
    position: absolute;
    background: rgba(0,0,0,.4);
    inset: 0;
    border-radius: 16px;
  }
  &__img{
    width: 100%;
    height: auto;
    border-radius: 16px;
  }
  &__description{
    position: absolute;
    font-family: $lora;
    font-size: 24px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    bottom: 100px;
    z-index: 3;
    text-align: center;
  }
  .views{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    text-align: center;
    right: 0;
    gap: 5px;
    color:var(--white-bg);
    font-family:$noto-sans;
    font-weight: 500;
    bottom: 35px;
    z-index: 3;
  }
}
.eye{
  color:var(--text-color);
}