.footer{
  background-color: #5f6778;
  padding:24px 0;
  .grid{
    &__row{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__list{
      list-style-type: none;
    }
    &__information{
      display: grid;
      grid-gap: 8px;
      li{
        font-family: $open-sans;
        font-size: 14px;
        line-height: 21px;
      }
      a{
        color:var(--text-color);
        text-decoration: none;
        transition: all .3s ease-in;
      }
      a:hover{
        transition: all .3s ease;
        text-decoration: underline;
      }
    }
    &__networks{
      display: flex;
      flex-direction: row;
      gap: 11px;
      li{
        a{
          text-decoration: none;
        }
      }
    }
    &__contacts{
      display: grid;
      text-align: right;
      &__title{
        color:var(--text-color);
      }
      li{
        margin-bottom: 8px;
        font-family: $open-sans;
        font-size: 14px;
        line-height: 21px;
        color:var(--text-color);
        a{
          color:var(--text-color);
          text-decoration: none;
        }
      }
      li:last-child{
        margin-bottom: 0px;
      }
    }
    &__copy{
      font-family: $open-sans;
      font-size: 14px;
      line-height: 21px;
      color:var(--text-color);
    }
  }
}