.latest {
  padding: $section-gutters-y 0;

  &__head {
    display: block;
    position: relative;
  }

  &__link {
    text-decoration: none;
  }

  &__link:after {
    content: '';
    background: linear-gradient(0deg, rgba(52, 113, 242, 0.8), rgba(52, 113, 242, 0.8));
    position: absolute;
    inset: 0;
    border-radius: 16px 16px 0 0;
  }

  &__img {
    width: 100%;
    height: auto;

  }
  &__title{
    position: absolute;
    left: 36px;
    bottom: 79px;
    z-index: 22;
    color:$c-white-bg;

  }
  &__date{
    position: absolute;
    left: 36px;
    bottom: 46px;
    color:$c-white-bg;
    z-index: 22;

  }
  &__body{
    border-radius: 1px 0px 16px 16px;
    background-color: $c-white-bg;
    padding: 31px 16px 24px 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:48px;
    justify-items: center;
  }
  &__item{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 238px;
  }
  &__link-body{
    text-decoration: none;
    color:$c-main-black;
  }
  .divider{
    position: relative;
    color:$c-main-grey;
  }
  .divider:after{
    position: absolute;
    content: "";
    width: 103px;
    height: 0.5px;
    top: 57.14%;
    margin-left: 10.4px;
    background-color: $c-main-grey;
  }
}