.politic{
  .grid{
    display: grid;
    gap: 20px;
    &__row:first-child{
      display: grid;
      grid-template-columns: 0.5fr 2fr;
      gap: 20px;
    }
    &__big{
      display: block;
      position: relative;
      border-radius: 16px;
    }
    &__link{
      display: block;
      text-decoration: none;
      color:$c-main-black;
    }
    &__link:after{
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      inset: 0;
      border-radius: 16px;
    }
    &__big-img{
      border-radius: 16px;
      width: 100%;
    }
    .cat-name{
      position: absolute;
      top: 40px;
      left: 20px;
      color: $c-white-bg;
      z-index: 3;

    }
    &__title{
      position: absolute;
      bottom: 100px;
      left: 20px;
      max-width: 700px;
      color: $c-white-bg;
      z-index: 3;
    }
    .data{
      position: absolute;
      left: 20px;
      bottom: 40px;
      color: $c-white-bg;
      z-index: 3;
    }

  }

}