.publication{
  padding: $section-gutters-y;
  &__content{

  }
  &__top{
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 20px;
  }
  &__info{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  &__right{
    display: inherit;
    align-items: center;
    gap: 40px;
  }
  .cat-name{
    color:var(--text);
    text-align: center;
    font-weight: 700;
  }


  &__title{
    color:var(--text);
    text-align: center;
  }
  .views{
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: $noto-sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    justify-content: center;
    color:var(--text);
    .eye{
      color:var(--text);
    }
  }
  .date{
    text-align: center;
    color:var(--header-text);
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  &__middle{
    background-color: var(--block-bg);
    border-radius: 16px;
    padding:30px;
  }
  &__body{
    margin-bottom: 40px;
    p{
      font-family:$open-sans;
      max-width: 890px;
      margin: 0 auto 20px auto;
      color:var(--text)

    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 8/4;
      border-radius: 16px;
    }
  }
  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom-left{
    display: inherit;
    flex-direction: column;
    gap:20px;
  }
  &__shared{
    display: inherit;
    gap: 20px;
    flex-direction: column;
  }
  .share{
    font-family: $noto-sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color:var(--text)
  }
  .networks{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 11px;
  }
  &__tags{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 0.5fr);
    grid-template-rows: auto;
  }
  &__author-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__author-link{
    text-decoration: none;
    color:var(--text);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .author-name{
    display: inherit;
    color:var(--text);
    font-family: $noto-sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .tags{
    font-family: $open-sans;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color:var(--tags-color);
    padding: 10px;
    background-color: var(--header-text);
    border-radius: 16px;
  }


}