.sport{
  padding: $section-gutters-y;
  .grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    &__row:first-child{
      display: inherit;
    }
    &__row:last-child{
      display: inherit;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-gap: 20px;
    }
    &__vertical{
      display: inherit;
      grid-gap: 20px;
    }
    &__big{
      height: 100%;
      position: relative;
    }
    &__small{
      position: relative;
      height: 100%;
    }
    &__link{
      text-decoration: none;
      color:var(--text-color);
      height: 100%;
      display: block;
    }
    &__link:after{
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      inset: 0;
      border-radius: 16px;
      height: 100%;
    }
    &__img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
    &__title{
      position: absolute;
      bottom: 60px;
      left: 20px;
      z-index: 3;
      max-width: 470px;
    }
    .cat-name{
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 3;
    }
    .date{
      position: absolute;
      bottom: 20px;
      left: 20px;
      z-index: 3;
    }
  }
}